.button {
  background: rgba(85, 132, 122, 0.97);
  width: 100px;
  height: 40px;
  color: white;
  border: none;
  cursor: pointer;
  margin: 0;
  font-size: 14px;
  margin-bottom: 2px;
  border-radius: 5px;
}

button:disabled {
  background-color: grey;
}